<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	<script src="{{ url_for('static', filename='d3pie.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='exampleData.js') }}"></script> <!-- For testing -->
	<script type="text/javascript" src="{{ url_for('static', filename='displayChart.js') }}" ></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}">
	<title>Display chart</title>
</head>
<body>
	<div id="chart">
		<div id="loadingAnimation">
			<center>
				Waiting for HANA response ... <br/>
				<img src="{{ url_for('static', filename='ajax-loader.gif') }}" alt="Waiting for ajax response">
			</center>
		</div>
	</div>
	<script type="text/javascript">
		// Wait until document ist loaded
		$(document).ready(function(){
			// Light gray marks that javascript ist still loading the data
			$('#chart').css('background-color', '#BBC')
			$.getJSON("/loadBarChart/{{chartName}}", function(data){
				// Parse data returned by the Python Connector
				// var data = JSON.parse(jsonResult);
				var valueKey = Object.keys(data[0])[1]; // Bei example ist es Index 1, sonst Index 0 durch JSON-formattierung in Python (Bug?)
				for(var i = 0; i < data.length; i++)
					data[i][valueKey] = +data[i][valueKey]; // Make sure that the value is recognized as an int value

				// Init and show table
				$('#loadingAnimation').css('display', 'none')
				//displayBarChart(data, "chart")
				displayDonutChart(data, "chart")
				
				$('#chart').css('background-color', '#FFF')
			});
		});
	</script>
</body>
</html>