<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='calMapData.js') }}" ></script>
	<script type="text/javascript" src="{{ url_for('static', filename='cal-heatmap.min.js') }}" ></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cal-heatmap.css') }}">
	
	<title>Calendar heat map</title>
</head>
<body>
	<div id="cal-heatmap"></div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='calMap.js') }}"></script>
</html>