<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	{% if not chartDataAsJson %}<script type="text/javascript" src="{{ url_for('static', filename='exampleData.js') }}"></script>{% endif %}
	<script type="text/javascript" src="{{ url_for('static', filename='displayChart.js') }}" ></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}">
	<title>Choose chart</title>
</head>
<body>
	<div id="chart">
		<h1>Balkendiagramme</h1>
		<a href="http://127.0.0.1:5000/barChart/CountDriversPerVendor">
			Fahrer pro Unternehmer
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/barChart/SumTotalPerMonth">
			Zurückgelegte Strecke pro Monat
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/barChart/SumTotalPerVendorInApril2010">
			Monats-Umsatz der Unternehmen (April 2010)
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/barChart/CountUsesPerPaymentType">
			Bezahlungsarten nach Anwendung
		</a>
		<br/><br/>
		<hr/>
		<h1>Tortendiagramm</h1>
		<a href="http://127.0.0.1:5000/pieChart/CountDriversPerVendor">
			Fahrer pro Unternehmer
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/pieChart/SumTotalPerMonth">
			Zurückgelegte Strecke pro Monat
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/pieChart/SumTotalPerVendorInApril2010">
			Monats-Umsatz der Unternehmen (April 2010)
		</a>
		<br/><br/>
		<a href="http://127.0.0.1:5000/pieChart/CountUsesPerPaymentType">
			Bezahlungsarten nach Anwendung
		</a>
		<br/>
	</div>
</body>
</html>