<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Calmap -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/scripts/cal-heatmap.css') }}">

    <title>Visualize cab data (EPIC 2)</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='/css/small-business.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-6" id="map-canvas">
				<!-- Heatmap (Ajay) -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
				<div id="cal-heatmap">
					<!-- Calmap (Paul) -->
				</div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
		<br/>
        <!-- Content Row -->
        <div class="row">
			<!-- Selectable Balkendiagramm zu Jahr, Monat & Woche (Thomas) -->
            <div id="barchart-1-container" class="col-md-4">
				<div id="barchart-1">
					<!-- Barchart of Years -->
				</div>
				<div class="barchart-title">
					Year
				</div>
            </div>
            <!-- /.col-md-4 -->
            <div id="barchart-2-container" class="col-md-4">
				<div id="barchart-2">
					<!-- Barchart of Months -->
				</div>
				<div class="barchart-title">
					Month
				</div>
            </div>
            <!-- /.col-md-4 -->
            <div id="barchart-3-container" class="col-md-4">
				<div id="barchart-3">
					<!-- Barchart of Weeks -->
				</div>
				<div class="barchart-title">
					Week
				</div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; EPIC-Team 2</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='/scripts/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='/scripts/bootstrap.min.js') }}"></script>

	<!-- Calmap -->
	<script src="{{ url_for('static', filename='/scripts/d3.v3.min.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='/scripts/cal-heatmap.min.js') }}" ></script>
	<script src="{{ url_for('static', filename='/scripts/calMap.js') }}"></script>

	<!-- Heatmap -->
	<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
	<script src="{{ url_for('static', filename='/scripts//scripts/heatMap.js') }}"></script>

	<!-- Barcharts -->
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script src="{{ url_for('static', filename='/scripts/barcharts.js') }}"></script>
	<script src="{{ url_for('static', filename='/scripts/displayChart.js') }}"></script>

	<!-- Observer (Contains Updating functions)-->
	<script src="{{ url_for('static', filename='/scripts/observer.js') }}"></script>

	<!-- TODO: Balkendiagramm-Events abfangen -> AJAX auf Python (Hana query) -> Heatmap & CalMap reloaden -->
</body>

</html>
