<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<!-- Calmap -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cal-heatmap.css') }}">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='small-business.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-6" id="map-canvas">
				<!-- TODO: Heatmap (Ajax) -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
				<!-- TODO: Calmap (Paul) -->
				<div id="cal-heatmap"></div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
		<br/>
        <!-- Content Row -->
        <div class="row">
			<!-- Selectable Balkendiagramm zu Jahr, Monat & Woche (Thomas) -->
            <div class="col-md-4">
                <h2>Jahr</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Monat</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Woche</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; EPIC-Team 2</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

	<!-- Calmap -->
	<script src="{{ url_for('static', filename='d3.v3.min.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='cal-heatmap.min.js') }}" ></script>
	<script type="text/javascript" src="{{ url_for('static', filename='calMap.js') }}"></script>
	
	<!-- Heatmap -->
	<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>-->
	<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
	<script src="{{ url_for('static', filename='heatMap.js') }}">heatmap()</script>
	
	<!-- TODO: D3 Balkendiagramme -->
	<!-- TODO: Balkendiagramm-Events abfangen -> AJAX auf Python (Hana query) -> Heatmap & CalMap reloaden -->
</body>

</html>
