div#chart {
	border: solid #888 1px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -400px;
	background-color: #FFF;
	width: 800px;
	height: 500px;
	text-align: center;
}

#chart>a {
	text-decoration: blink;
	font-size: 20px;
	color: cornflowerblue;
}

#chart>a:hover {
	font-weight: bold;
	color: rgb(0, 66, 184);
}

div#loadingAnimation {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left:-110px;
}

/* Chart values */
.bar {
	fill: rgb(70, 130, 180);
	cursor: pointer;
}

.bar:hover {
	fill: rgb(110, 170, 255);
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}