div#chart {
	border: solid #888 1px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	height: 500px;
}

/* Chart values */
.bar {
	fill: rgb(70, 130, 180);
	cursor: pointer;
}

.bar:hover {
	fill: rgb(110, 170, 255);
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}